body {
    font-family: var(--font-Itim);
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    margin: 0%;
    padding: 0%;
}

.header-ViewAssignmentsDesigner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* margin: 20px 20px 20px 20px; */
    margin: 20px 4% 20px 4%;
}

h3 {
    margin-top: 20px;
    font-family: var(--font-Itim);
    font-weight: 400;
    margin: 20px 4% 20px 4%;
    font-size: 24px;
}

h4 {
    font-family: var(--font-Itim);
    font-weight: 400;
}

.FilterMenu {
    border-radius: 10px;
    background-color: var(--color-navbar);
    box-shadow: 0px 4px 20px 0px rgba(0.6, 0.6, 0.6, 0.6);
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: absolute;
    top: 125px;
    right: 4%;
    z-index: 1;
}

.FilterMenu li {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
}

.cards-proceso {
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin-top: 20px;
}

.cards-aprobadas {
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin-top: 20px;
}

.cards-rechazadas {
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin-top: 20px;
}

.cards-canceladas {
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 1118px) {

    .cards-proceso,
    .cards-aprobadas,
    .cards-rechazadas,
    .cards-canceladas {
        grid-template-columns: repeat(3, 1fr);
    }

    .header-ViewAssignmentsDesigner {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .FilterMenu {
        top: 180px;
        left: 4%;
    }
}

@media (max-width: 768px) {

    .cards-proceso,
    .cards-aprobadas,
    .cards-rechazadas,
    .cards-canceladas {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-ViewAssignmentsDesigner {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

/* @media (max-width: 480px) { */
@media (max-width: 570px) {

    .cards-proceso,
    .cards-aprobadas,
    .cards-rechazadas,
    .cards-canceladas {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    h3 {
        margin-left: 2%;
        font-size: 20px;
    }

    .header-ViewAssignmentsDesigner {
        margin: 20px 2% 20px 2%;
    }
}