
.Navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-navbar);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30);
}
.Notification{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 30px;
    /* padding: 5px; */
    width: 120px;
    height: 30px;
    background-color: var(--color-notification);
    box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.Logo{
    width: 150px;
    height: auto;
    padding-left: 10px;
}
.campana{
    width: 20px;
    height: 20px;
}
p{
    font-family: var(--font-Itim);
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
}
.Notification:hover{
    background-color: rgba(255, 255, 255, 0.35);
}
