/* --- RESET & VARIABLES --- */
:root {
  --bg-dark: #0a192f;
  /* Azul muy oscuro de fondo */
  --bg-panel: #112240;
  /* Azul un poco más claro para paneles */
  --bg-header: #0d1b3e;
  /* Azul header */
  --text-white: #ffffff;
  --text-gray: #a8b2d1;
  --accent-green: #64ffda;
  /* Para iconos del bot */
  --bubble-bot: #cddcdc;
  /* Color burbuja bot (grisaceo/verde palido) */
  --bubble-user: #dcd7cc;
  /* Color burbuja usuario (beige) */
  --accent-red: #b91c1c;
  /* Botón enviar */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* --- HEADER --- */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-header);
  border-bottom: 1px solid #1f3a60;
  height: 60px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.logo span {
  font-weight: 300;
  opacity: 0.8;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  color: #64ffda;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  /* Oculto por defecto */
}

/* --- MAIN LAYOUT --- */
.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* --- CHAT SECTION (LEFT) --- */
.chat-section {
  flex: 2;
  /* Ocupa 2/3 del espacio */
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  background-color: #192C4A;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.chat-header-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #192C4A;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bot-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bot-header span {
  font-family: var(--font-Itim);
}

.bot-icon {
  width: 50px;
  height: auto;
  margin: 0;
}

.sparkles {
  width: 50px;
  height: auto;
  margin: 0;
}

/* Burbujas de chat */
.message-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  max-width: 80%;
}

.msg-bot {
  align-self: flex-start;
}

.msg-user {
  align-self: flex-end;
  flex-direction: row-reverse;
  /* Avatar a la derecha */
}

.bubble {
  padding: 15px;
  border-radius: 8px;
  font-size: 0.95rem;
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  font-family: var(--font-Itim);
}



.msg-bot .bubble {
  background-color: var(--bubble-bot);
  border-bottom-left-radius: 2px;
  /* Efecto de cola */
  font-family: var(--font-Itim);
}

.msg-user .bubble {
  background-color: var(--bubble-user);
  border-bottom-right-radius: 2px;
  /* Efecto de cola */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.bot-avatar img {
  width: 50px;
  border-radius: 50%;
}

.bot-avatar {
  background: #4caf50;
  border: 2px solid #fff;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Input area */
.chat-input-area {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  background: #1a2744;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b91c1c;
}

.chat-input-area input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 1rem;
  font-family: var(--font-Itim);
}

.send-btn {
  background: #ff0000;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

/* --- SIDEBAR (RIGHT) --- */
.sidebar {
  flex: 1;
  /* Ocupa 1/3 del espacio */
  background-color: #192C4A;
  margin: 10px;
  border-left: 1px solid #1f3a60;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: #192C4A;
  border: 1px solid rgba(255, 255, 255, 0.1);
  ;
}
.sidebar-header h3{
  font-size: 17px;
}

.close-sidebar-btn {
  background: none;
  border: none;
  color: #9BCD67;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  .close-sidebar-btn {
    display: block;
  }
}

.summary-list {
  list-style: none;
  padding: 15px;
}

.summary-item {
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.summary-item:last-child {
  border-bottom: none;
}

.summary-label {
  display: block;
  font-size: 1rem;
  color: var(--text-white);
  margin-bottom: 2px;
  font-weight: bold;

}

.summary-value {
  font-size: 0.85rem;
  color: var(--text-white);
  font-family: var(--font-Itim);
}

.empty-message {
  padding: 15px;
  text-align: center;
}

.empty-message p {
  color: var(--text-gray);
  font-size: 0.9rem;
  margin: 0;
}

/* Search bar */
.search-bar {
  background: #0b1526;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #1f3a60;
}

.search-bar input {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  outline: none;
  font-family: var(--font-Itim);
}

.box-users {
  background-color: #0b1526;
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
}

/* User Card */
.user-card {
  background: #162641;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-family: var(--font-Itim);
}

.card-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.user-info h4 {
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.user-info p {
  font-size: 0.8rem;
  color: var(--text-gray);
}

/* Send Action Area */
.send-action-area {
  margin-top: auto;
  /* Empuja esto al final si hay espacio */
  background: #0f1a30;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  font-family: var(--font-Itim);
}

.send-action-area label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-family: var(--font-Itim);
}

.recipient-tag {
  background: #1a2a47;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  width: fit-content;
  font-family: var(--font-Itim);
}

.recipient-tag img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.close-tag {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  margin-left: 5px;
}

.main-cta-btn {
  width: 100%;
  background-color: var(--accent-red);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-Itim);
}

.main-cta-btn:hover {
  opacity: 0.9;
}

/* Estilos de scroll para chat */
.messages-list::-webkit-scrollbar {
  width: 4px;
}

.messages-list::-webkit-scrollbar-track {
  background: transparent;
}

.messages-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.messages-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Estilos de scroll para sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #101d36;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #4caf50;
}

/* Responsive */
@media (max-width: 800px) {
  .toggle-btn {
    display: block;
    /* Visible en ≤800px */
  }

  .sidebar {
    display: none;
  }

  .sidebar.open {
    display: block;
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    height: calc(95vh - 60px);
    z-index: 1000;
  
  }
}