.cards-container{
    color: var(--color-white);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 260px;
    height: 130px;
    border-radius: 15px;
    background-color: var(--color-card);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.imgCard{
    width: 90px;
    height: 90px;
    margin-right: 15px;
}
.InfoCard{
    font-family: var(--font-Itim);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
h4{
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    /* margin-bottom: 10px; */
}
.progreso{
    display: flex;
    align-items: center;
    font-size: 14px;
    /* font-weight: 500; */
    color: var(--color-white);

    margin-top: 10px;
    margin-bottom: 20px;
}
.Estado{
    margin-right: 10px;
    background-color: yellow;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.fecha{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white);
    width: 130px;
    height: 25px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
}
.FotoUser{
    margin-left: 8px;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    border-radius: 15px;
}