@import url('"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"');
:root{
    --color-dark-blue: #0B1E3D;
    --color-white: #FFFFFF;
    --color-navbar: #192C4A;
    --color-card: rgba(255, 255, 255, 0.10);
    --color-notification: rgba(255, 255, 255, 0.25);
    --color-dark-red: #961713;
    --color-proceso: #FFFF00;
    --color-aprobado: #28A745;
    --color-rechazado: #FF0000;
    --color-cancelado: #A9A2A2;

}
:root{
    --font-Itim: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}