:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Force scroll handling to internal containers */
}

body {
  min-width: 320px;
  display: block;
  background-color: var(--color-bg-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
  transition: color 0.25s;
}

a:hover {
  color: var(--color-primary);
}

button {
  font-family: inherit;
}