.FilterContainer{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-notification);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.FilterContainer img{
    width: 25px;
    height: 25px;
}